.bvideo {
    width: 100%;
    height: 70vh;
    justify-content: center;
    align-items: center;
    position: relative;
    display: flex;
}
.bvideo video {
   width: 100%;
   height: 70vh;
   position: absolute;
   top: 0;
   left: 0;
   object-fit: cover;
   z-index: 1;
}
.effect {
    width: 100%;
    height: 70vh;
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    z-index: 2;
    background-color: rgba(214, 144, 144, 0.192);   
}
.video-text {
    color: wheat;
    z-index: 2;
}